<html xmlns:th="https://thymeleaf.org">  
    
          <p><font size ="5">UPDATION</font> </p>
          <p> Please enter the Details of the Student to be updated </p>
     
        <form action="update1" method="post"> 
         <table>  
        
        
          <tr>  
                    <td><label for="name">Student Name</label></td>  
                    <td><input type="text" name="name"></input></td>  
                </tr> 
         
             <tr>  
                    <td><label for="age">Age to be updated</label></td>  
                    <td><input type="text" name="age"></input></td>  
                </tr> 
         <tr>
                    <td></td>  
                    <td><input type="submit" value="submit"></input></td>  
                </tr>
          </table> 
        </form>
          
   
</html> 